@model IEnumerable<Catridges.Domain.Entity.Catridge>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-auto">
            <a class="btn btn-outline-success" asp-controller="Catridge" asp-action="CreateCatridge">Создать</a>
        </div>
        <div class="col-10">
            <table class="table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Модель</td>
                </tr>
                </thead>
                <tbody>
                @{
                    int i = 1;
                    foreach (var item in @Model)
                    {
                        <tr>
                            <td width="10">@i</td>
                            <td>@item.Model</td>
                            <td width="20">
                                <a class="btn btn-outline-primary" asp-controller="Catridge" asp-action="GetCatridge" asp-route-id="@item.Id">Просмотреть</a>
                            </td>
                            <td width="20">
                                <a class=" btn btn-outline-info" asp-controller="Catridge" asp-action="UpdateCatridge" asp-route-id="@item.Id">Изменить</a>
                            </td>
                            <td width="20">
                                <a class=" btn btn-outline-danger" asp-controller="Catridge" asp-action="DeleteCatridge" asp-route-id="@item.Id">Удалить</a>
                            </td>
                            
                        </tr>
                        i++;
                    }
                }
                
                </tbody>
            </table>
        </div>
    </div>
</div>


