@model IEnumerable<Catridges.Domain.Entity.Printer>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<body>
<br/>
<h2>Принтеры. Модуль управления принтерами.</h2>
<br/>
<div class="table-active">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Модель</th>
        </tr>
        </thead>
        <tbody>
        @{
            int i = 1;
            foreach (var item in @Model)
            {
                <tr>
                    <td width="40">@i</td>
                    <td width="*">@item.Model</td>
                    <td width="80"><a class="btn btn-outline-dark" asp-controller="Printer" asp-action="GetPrinter" asp-route-id="@item.Id">Открыть</a></td>
                    <td width="80"><a class="btn btn-outline-dark" asp-controller="Printer" asp-action="UpdatePrinter" asp-route-id="@item.Id">Изменить</a></td>
                    <td width="80"><a class="btn btn-outline-dark" asp-controller="Printer" asp-action="DeletePrinter" asp-route-id="@item.Id">Удалить</a></td>
                </tr>
                i++;
            }
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-dark text-white text-center"  asp-controller="Printer" asp-action="CreatePrinter">Добавить принтер</a>
</div>
</body>