@model Catridges.Domain.ViewModels.DocumentCreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<div>
    <br/>
    <h2>Документы. Создание нового документа.</h2>
    <br/>
</div>
<form method="post">
    <div class="mb-3">
        <div>
            <label for="date" class="form-label fw-bold">Дата</label>
            <input type="datetime-local" class="form-control form-control-dark" name="dateTime" id="date"> 
        </div>
        <div>
            <label for="catridge" class="form-label fw-bold">Картридж</label>
            <select class="form-select form-control-dark" name="catridgeid" id="catridge" aria-label="Default select example">
                <option selected>Выберите картридж</option>
                @{
                    foreach (var item in @Model.Catridges)
                    {
                        <option value="@item.Id">@item.Model</option>
                    }
                }
            </select>  
        </div>
        <div>
            <label for="state" class="form-label fw-bold">Статус</label>
            <select class="form-select form-control-dark" name="stateid" id="state" aria-label="Default select example">
                <option selected>Выберите статус</option>
                @{
                    foreach (var item in @Model.States)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>  
        </div>
        <div>
            <label for="printer" class="form-label fw-bold">Принтер</label>
            <select class="form-select form-control-dark" name="printerid" id="printer" aria-label="Default select example">
                <option selected>Выберите принтер</option>
                @{
                    foreach (var item in @Model.Printers)
                    {
                        <option value="@item.Id">@item.Model</option>
                    }
                }
            </select>  
        </div>
        <div>
            <label for="subdivision" class="form-label fw-bold">Подразделение</label>
            <select class="form-select form-control-dark" name="subdivisionid" id="subdivision" aria-label="Default select example">
                <option selected>Выберите подразделение</option>
                @{
                    foreach (var item in @Model.Subdivisions)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>  
        </div>
       
    </div>
    <button type="submit" class="btn btn-dark">Создать</button>
</form>
<br/>
<div>
    <a class="btn btn-dark text-white" asp-controller="Document" asp-action="GetAllDocuments">Назад</a>
</div>
</body>