@model IEnumerable<Catridges.Domain.Entity.Document>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<br/>
<h2>Документы. Модуль управления документами.</h2>
<br/>
<div class="table-active">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <td>#</td>
            <td>
                <a class="text" asp-action="GetAllDocuments" asp-route-sortOrder="@ViewBag.NumberSortParam">Номер</a>
            </td>
            <td>Дата</td>
            <td>Картридж</td>
            <td>Статус</td>
            <td>Принтер</td>
            <td>Подразделение</td>
        </tr>
        </thead>
        <tbody>
        @{
            if (@Model != null)
            {
                int i = 1;
                foreach (var item in @Model)
                {
                    <tr>
                        <td width="10">@i</td>
                        <td>@item.Number</td>
                        <td>@item.DateTime</td>
                        <td>@item.Catridge?.Model</td>
                        <td>@item.State?.Name</td>
                        <td>@item.Printer?.Model</td>
                        <td>@item.Subdivision?.Name</td>
                        <td width="20">
                            <a class="btn btn-outline-dark" asp-controller="Document" asp-action="GetDocument" asp-route-id="@item.Id">Просмотреть</a>
                        </td>
                        <td width="20">
                            <a class=" btn btn-outline-dark" asp-controller="Document" asp-action="UpdateDocument" asp-route-id="@item.Id">Изменить</a>
                        </td>
                        <td width="20">
                            <a class=" btn btn-outline-dark" asp-controller="Document" asp-action="DeleteDocument" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                    i++;
                }
            }
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-dark text-white text-center"  asp-controller="Document" asp-action="CreateDocument">Добавить документ</a>
</div>

</body>