@model Catridges.Domain.Entity.Document

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <tr>
        <td>#</td>
        <td>Номер</td>
        <td>Дата</td>
        <td>Картридж</td>
        <td>Статус</td>
        <td>Принтер</td>
        <td>Подразделение</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="10">1</td>
        <td>@Model.Number</td>
        <td>@Model.DateTime</td>
        <td>@Model.Catridge?.Model</td>
        <td>@Model.State?.Name</td>
        <td>@Model.Printer?.Model</td>
        <td>@Model.Subdivision?.Name</td>
        <td width="20"><a class=" btn btn-outline-info" asp-controller="Document" asp-action="UpdateDocument" asp-route-id="@Model.Id">Изменить</a></td>
        <td width="20"><a class=" btn btn-outline-danger" asp-controller="Document" asp-action="DeleteDocument" asp-route-id="@Model.Id">Удалить</a></td>
    </tr>
    </tbody>
</table>
<div style="position: center">
    <a class="btn btn-outline-info"  asp-controller="Document" asp-action="GetAllDocuments">Назад</a>
</div>