@model IEnumerable<Catridges.Domain.Entity.Subdivision>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<br/>
<h2>Подразделения.
    Модуль управления подразделениями.</h2>
<br/>
<div class="table-active">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Наименование</th>
        </tr>
        </thead>
        <tbody>
        @{
            int i = 1;
            foreach (var item in @Model)
            {
                <tr>
                    <td width="40">@i</td>
                    <td width="*">@item.Name</td>
                    <td width="80"><a class="btn btn-outline-dark" asp-controller="Subdivision" asp-action="GetSubdivision" asp-route-id="@item.Id">Открыть</a></td>
                    <td width="80"><a class="btn btn-outline-dark" asp-controller="Subdivision" asp-action="UpdateSubdivision" asp-route-id="@item.Id">Изменить</a></td>
                    <td width="80"><a class="btn btn-outline-dark" asp-controller="Subdivision" asp-action="DeleteSubdivision" asp-route-id="@item.Id">Удалить</a></td>
                </tr>
                i++;
            }
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-dark text-white text-center"  asp-controller="Subdivision" asp-action="CreateSubdivision">Добавить подразделение</a>
</div>

</body>


